.contact .container .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contact-left h2 {
    font-size: 2.1em;
    font-weight: 800;
    margin-bottom: 40px;
}

.contact-list li {
    margin-bottom: 40px;
}

.contact-list li h3 {
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact-list li h3 i {
    color: var(--second-color);
    font-size: 1.3em;
    margin-right: 10px;
}

.contact-list li span {
    color: var(--third-color);
    margin-left: 40px;
}

.contact-list li span a {
    color: var(--third-color);
}

.contact-right p {
    color: var(--third-color);
    font-size: 1.6em;
    margin-bottom: 30px;
}

.contact-right p span {
    color: var(--first-color);
    font-weight: 700;
}

.contact-form input, .contact-form textarea {
    border: none;
    color: var(--first-color);
    background: var(--transparent-color-02);
    font-size: var(--normal-font-size);
    margin-bottom: 20px;
    padding: 15px 40px 40px 20px;
    border-radius: 5px;
}

.contact-form textarea {
    width: 100%;
    resize: none;
}

::placeholder {
    color: var(--first-color);
}

.contact-form .first-row input {
    width: 100%;
}

.contact-form .second-row {
    display: flex;
    justify-content: space-between;
}

.contact-form .second-row input {
    width: 48%;
}

.contact-form .btn {
    border: none;
    margin-top: 0;
    border-radius: 5px;
    cursor: pointer;
}

/* Media query max-width */
@media screen and (max-width: 1070px) {
.contact .content {
    flex-direction: column;
    font-size: 0.9rem;
  }

  .contact .contact-left {
    margin-bottom: 40px;
  }

  .contact-form .second-row {
    flex-direction: column;
  }

  .contact-form .second-row input {
    width: 100%;
  }


}