header {
    z-index: 99999;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(20px);
    transition: .6s ease;
}

header.sticky {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: var(--box-shadow);
}

.nav-bar {
    position: relative;
    height: calc(4rem + 1rem);
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    transition: .6s ease;
}

header.sticky .nav-bar {
    height: calc(2.5rem + 1rem);
}

.nav-bar .logo {
    color: var(--first-color);
    font-size: 1.3em;
    font-weight: 600;
}

.nav-items a {
    color: var(--first-color);
    font-size: var(--normal-font-size);
    font-weight: 500;
}

.nav-items a.active {
    color: var(--second-color);
}

.nav-items a:not(:last-child) {
    margin-right: 50px;
}

.nav-items a:hover {
    color: var(--second-color);
}

.nav-menu-btn {
    display: none;
}

@media screen and (max-width: 1070px) {
    .nav-menu-btn {
        background: url(../Components/images/menu-btn.png)no-repeat;
        filter: var(--color-filter);
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: block;
      }
}

.home {
    position: relative;
    max-width: 1250px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 2rem;
    flex-direction: column;
}

.home .home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.home-container .media-icons {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.home-container .media-icons a {
    color: var(--second-color);
    font-size: 1.5em;
    margin: 10px 0;
}

.home-container .media-icons a:hover {
    color: var(--hover-color);
}

.home-container .info h2 {
    font-size: 4em;
    font-weight: 600;
    line-height: 70px;
}

.home-container .info h3 {
    color: var(--third-color);
    font-feature-settings: 1.3em;
    font-weight: 600;
    line-height: 50px;
}

.home-container .info p {
    color: var(--third-color);
    font-size: var(--normal-font-size);
    max-width: 350px;
}

.btn {
    background: var(--second-color);
    color: #fff;
    font-size: var(--normal-font-size);
    font-weight: 500;
    display: inline-block;
    margin-top: 25px;
    padding: 20px 30px;
    letter-spacing: 1px;
    border-radius: 10px;
}

.btn:hover {
    background: var(--hover-color);
}

.home-container .home-img {
    width: 500px;
    position: relative;
}

.home-container .home-img img {
    width: 50%;
    object-fit: contain;
    transform: translate(150px,0);
    border-radius: 13px;
}

.home .scroll-down {
    color: var(--first-color);
    font-size: var(--normal-font-size);
    font-weight: 500;
    margin-top: 20px;
}

.home .scroll-down i {
    color: var(--second-color);
    font-size: 1.2em;
    animation: arrow-down ease 2s infinite;
}

@keyframes arrow-down {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(10px);
    }
}


.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollToTop-btn {
    z-index: 99999;
    position: fixed;
    right: 0;
    bottom: 20px;
    width: 45px;
    height: 45px;
    background: var(--second-color);
    color: #fff;
    font-size: var(--small-font-size);
    border-radius: 3px;
    cursor: pointer;
    opacity: 0;
    transition: .5s ease;
}

.scrollToTop-btn.active {
    right: 20px;
    pointer-events: all;
    opacity: 1;
}

.theme-btn {
    z-index: 999999;
    position: fixed;
    right: 0;
    top: 100px;
    background: var(--transparent-color-01);
    backdrop-filter: blur(20px);
    width: 50px;
    height: 50px;
    font-size: 1.2em;
    border-radius: 5px 0 0 5px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

.theme-btn .fa-sun, .theme-btn.sun .fa-moon {
    display: none;
}

.theme-btn.sun .fa-sun {
    display: block;
}

@media screen and (max-width: 730px) {
    .home .home-container {
        display: grid;
    }

    .home-container .home-img {
        position: absolute;
    }

    .home-container .home-img img {
        width: 35%;
        transform: translate(80px, -230px);
    }

    .home .home-container .info {
        font-size: 0.8rem;
    }

    .media-icons {
        margin-bottom: 80px;
    }

}